<%- include('../partials/header') -%>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .container {
    max-width: 750px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 22px;
  }
</style>

<div style="display: flex; max-width: full">
  <div
    style="
      width: 10rem;
      border: 1px solid rgb(122, 20, 20);
      padding: 5px;
      background-color: #04aa6d;
      height: 100vh;
    "
  >
    <div class="mb-3">
      <t3 class="fw-semibold font-monospace">Todo Project</t3>
    </div>
    <div class="mb-3 w-75">
      <a href="http://localhost:5000/" style="text-decoration: none">
        <button type="button" class="btn btn-outline-light">refresh</button>
      </a>
    </div>
    <div class="mb-3 w-75">
      <a href="http://localhost:5000/api/v1/todo" style="text-decoration: none">
        <button type="button" class="btn btn-outline-light">view todo</button>
      </a>
    </div>
  </div>

  <div>
    <h3
      style="text-decoration: underline; text-align: end"
      class="font-monospace"
    >
      Insert Todo
    </h3>

    <div class="container mx-5">
      <form method="POST" action="/api/v1/todo">
        <label for="name">Name</label>
        <input
          type="text"
          minlength="0"
          id="name"
          name="name"
          placeholder="enter the name"
        />

        <label for="description">Description</label>
        <textarea
          minlength="0"
          type="text"
          id="description"
          name="description"
          placeholder="enter the description"
          style="height: 150px"
        ></textarea>

        <label for="status">Status</label>
        <select id="status" name="status">
          <option value="completed">Completed</option>
          <option value="not_completed">Not Completed</option>
        </select>

        <div
          style="
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            width: max-content;
          "
        >
          <label for="completed_date">Target Complete Date</label>
          <input type="date" id="completed_date" name="completed_date" />
        </div>

        <button type="submit" class="btn btn-success" name="submit">
          Submit
        </button>
        <% if(message !='' ){ %> <% message.forEach((item)=> { %>
        <div class="alert alert-danger mt-2" role="alert">
          <%= item.message %>
        </div>
        <% }) %> <% }%>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>
